<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Products</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">WordPress Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Company</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>About</li>
          <li>Affiliates</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Community</li>
          <li>News</li>
          <li>Green Hosting</li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Support</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>Contact</li>
          <li>Knowledge Base</li>
          <li>Forums</li>
          <li>System Status</li>
          <li>Web Hosting</li>
          <li>DreamCompute</li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Domains</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>Domain Checker</li>
          <li>Domain Transfer</li>
          <li>Free Domain</li>
          <li>XYZ Domain</li>
          <li>Cheap SSL Certificate</li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 &copy; Mosh Hamedani</p>
    </section>
  </div>
</footer>
